.arrange--V {
    display:flex;
    flex-direction: column;
    padding: 2px;
}

.arrange--H {
    display:flex;
    flex-direction: row;
    padding: 2px;
}

.helper {
    order: -1;
}

.center--V {
    position: absolute;
    left: 50%;
    transform: translate(-50%, -0%);
    padding: 3px;
}

.center {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    padding: 3px;
}

.button {
    width: 30px;
    height: 30px;
    border: 1px solid black;
}

.button-image {
    width: 100%;
    height: 100%;
}

.my-form {
    width: 200px;
    padding: 2px;
}

.latex {
    height: fit-content;
    width: fit-content;
}

.a-btn {
    text-decoration: none;
    padding-left: 2px;
    padding-right: 2px;
}