{% load static %}

<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Header</title>
    <link rel="stylesheet" href="{% static 'css/global.css' %}">
        <link rel="stylesheet" href="{% static 'Includes/css/header.css' %}">
</head>
<body style="margin: 0; padding: 0;">
    <div class="header">

        <a class="a-btn a__header" href="{% url 'matches' %}">
            <button> Матчи </button>
        </a>

        <a class="a-btn a__header" href="{% url 'basket' %}">
            <button> Корзина </button>
        </a>

        {% if user.is_authenticated %}
            <b> {{ user }} </b>

            <a class="a-btn a__header" href="{% url 'logOut' %}">
                <button style="color: red"> <b> Выйти </b> </button>
            </a>
        {% else %}
            <a class="a-btn a__header" href="{% url 'logIn' %}">
                <button> Войти </button>
            </a>

            <a class="a-btn a__header" href="{% url 'signIn' %}">
                <button> Зарегистрироваться </button>
            </a>
        {% endif %}


    </div>
</body>
</html>