{% load static %}

<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Ticket</title>
    <link rel="stylesheet" href="{% static 'css/global.css' %}">
    <link rel="stylesheet" href="{% static 'Includes/css/ticket.css' %}">
</head>
<body>

        <div class="ticket arrange--H">
            <div class="helper"></div>
            <div style="padding-left: 10px; margin: 0px auto">
                <p>
                    <b> {{ match.name }} <br> {{ match.side1 }} - {{ match.side2 }} </b>
                </p>
            </div>
            <div style="padding-right: 10px; margin: 0px auto">
                <p> {{ match.stadium }} <br> {{match.date|date:"d.m.y" }} {{ match.time|time:"G:i" }} </p>
            </div>
            <a href="{% url 'places_on_stadium' %}?focus_match_id={{ match.id }}">
                <button> Билеты </button>
            </a>

        </div>
</body>
</html>