{% load static %}

<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
        <link rel="stylesheet" href="{% static 'App1/css/style.css' %}">
    <title>Корзина</title>
</head>
<body>
    <table>
        <tr> <td>Заказ</td> <td>Цена</td> <td>Удалить</td> </tr>
        {% for order in orders %}
            <tr>
                <td>{{ order.place }}</td>
                <td>{{ order.place.sector.price }}₽</td>
                <td>
                    <form method="post">
                        {% csrf_token %}
                        <input hidden="hidden" name="del_order_id" value="{{ order.id }}">
                        <button class="button" type="submit">
                            <img class="button-image" src="{% static 'App1/images/recycle_bin.png' %}" alt="Удалить">
                        </button>
                    </form>
                </td>
            </tr>
        {% endfor %}
    </table>

</body>
</html>