{% load static %}

<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Корзина</title>
    <link rel="stylesheet" href="{% static '/css/global.css' %}">
    <link rel="stylesheet" href="{% static 'App1/css/basket.css' %}">
</head>
<body>

    {% include 'Includes/header.html' %}

    <div class="center">
        <h2> Корзина </h2>
        <table>
            <tr> <th>Неоплаченные билет</th> <th>Цена</th> <th>Удалить</th> </tr>
            {% for ticket in unpaid_tickets %}
                <tr>
                    <td>{{ ticket.place }}</td>
                    <td>{{ ticket.place.sector.price }}₽</td>
                    <td>
                        <form method="post">
                            {% csrf_token %}
                            <input hidden="hidden" name="del_ticket_id" value="{{ ticket.id }}">
                            <button class="button" type="submit">
                                <img class="button-image" src="{% static 'App1/images/recycle_bin.png' %}" alt="Удалить">
                            </button>
                        </form>
                    </td>
                    <td>
                        <a href="{% url 'pay_ticket' %}?ticket_id={{ ticket.id }}">
                            <button> Оплатить </button>
                        </a>
                    </td>
                </tr>
            {% endfor %}
        </table>

        <p></p>

        <table>
            <tr> <th>Оплаченные биле</th> <th>Цена</th> <th>Удалить</th> </tr>
            {% for ticket in paid_tickets %}
                <tr>
                    <td>{{ ticket.place }}</td>
                    <td>{{ ticket.place.sector.price }}₽</td>
                    <td>
                        <form method="post">
                            {% csrf_token %}
                            <input hidden="hidden" name="del_ticket_id" value="{{ ticket.id }}">
                            <button class="button" type="submit">
                                <img class="button-image" src="{% static 'App1/images/recycle_bin.png' %}" alt="Удалить">
                            </button>
                        </form>
                    </td>
                </tr>
            {% endfor %}
        </table>
    </div>

</body>
</html>