{% load static %}

<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>focusMatch</title>
    <link rel="stylesheet" href="{% static 'css/global.css' %}">
    <link rel="stylesheet" href="{% static 'App1/css/focusMatch.css' %}">
</head>
<body>

    {% include 'includes/header.html' %}

    <div class="center">
        <div class="match-ticket--main div--H">
            <div class="helper"></div>
            <div style="padding-left: 10px; margin: 0px auto">
                <p>
                    <b> {{ focus_match.name }} <br> {{ focus_match.side1 }} - {{ focus_match.side2 }} </b>
                </p>
            </div>
            <div style="padding-right: 10px; margin: 0px auto">
                <p> {{ focus_match.stadium }} <br> {{focus_match.date|date:"d.m.y" }} {{ focus_match.time|time:"G:i" }} </p>
            </div>

        </div>

        <div class="div--H">
            <div class="helper--V"></div>

            <form method="post">
                {% csrf_token %}

                <div class="div--V my-form">
                    <div class="helper"></div>

                    <label for="sector_search"><strong> Сектор </strong></label>
                    <input type="text" name="sector_search">

                    <label for="row_search"><strong> Ряд </strong></label>
                    <input type="text" name="row_search">

                    <label for="count_search"><strong> Номер места </strong></label>
                    <input type="text" name="count_search">

                    <p></p>
                    <button type="submit">Подтвердить</button>
                </div>
            </form>


            <ul class="scroll-ul">
                {% for free_place in free_places %}
                    <li>
                        <a href="/App1/add_ticket?place_id={{ free_place.id }}&match_id={{ focus_match.id }}">
                            <button class="place-button"> {{ free_place }} </button>
                        </a>
                    </li>

                {% endfor %}
            </ul>
        </div>
    </div>
</body>
</html>
