{% load static %}

<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>focusMatch</title>
    <link rel="stylesheet" href="{% static 'App1/css/style.css' %}">
        <link rel="stylesheet" href="{% static 'css/global.css' %}">
</head>
<body>

    <div class="match-ticket--main">
        <p>{{ focus_match.name }}. {{ focus_match.side1 }} - {{ focus_match.side2 }}</p>
        <p>{{ focus_match.stadium }}</p>
        <p>{{ focus_match.date|date:"d.m.y" }} {{ focus_match.time|time:"G:i" }}</p>
    </div>

    <form>
        <input type="text" placeholder="Поиск" name="search">
        <button class="button" type="submit">
            <img class="button-image" src="{% static 'App1/images/search_icon.png' %}" alt="Иконка лупы поиска">
        </button>
    </form>

    <div>
        <ul class="scroll-ul">
            {% for free_place in free_places %}
                <li>
                    <a href="/App1/add_ticket?place_id={{ free_place.id }}&match_id={{ focus_match.id }}">
                        <button style="width:100%"> {{ free_place }} </button>
                    </a>
                </li>

            {% endfor %}
        </ul>
    </div>
</body>
</html>
