{% load static %}

<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="{% static 'App1/css/style.css' %}">
</head>
<body>
    <div class="match_card">
        <p>{{ focus_match.name }}. {{ focus_match.side1 }} - {{ focus_match.side2 }}</p>
        <p>{{ focus_match.stadium }}</p>
        <p>{{ focus_match.date|date:"d-m-y" }} {{ focus_match.time|time:"G:i" }}</p>
    </div>


    {% for place in places %}
        <a href="/App1/basket?focus_place_id={{ place.id }}&focus_match_id={{ focus_match.id }}">
            <button>Купить {{ place }}</button>
        </a>
    {% endfor %}
</body>
</html>
