{% load static %}

<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="{% static 'App1/css/style.css' %}">
</head>
<body>
        <p> {{ r }}</p>
    <form method="post">
        {% csrf_token %}
        <label> Введите номер банковской карты </label>
        <input type="text" name="requisites" minlength="10" maxlength="10">
        <button type="submit"> Перейти к матчам</button>
    </form>
    <a href="/admin"> to_admin</a>

</body>
</html>
