{% load static %}


<!DOCTYPE HTML>
<html lang="ru">
<head>
    <meta charset="utf-8">
    <title>Матчи</title>
    <link rel="stylesheet" href="{% static '/css/global.css' %}">
    <link rel="stylesheet" href="{% static 'App1/css/matchesPage.css' %}">
</head>
<body>
    {% include 'includes/header.html' %}

    <div class="center latex matchesBorders">
        <h2> Матчи </h2>

        <form method="post">
            {% csrf_token %}
            <div class="div--V my-form">
                <div class="helper"></div>

                <input type="text" placeholder="Поиск по мероприятиям" name="matches_search">

            </div>
        </form>

        <ul class="scroll-ul">
            {% for match in searched_matches %}
                <li>
                    <div class="match-ticket">
                        <b>{{ match.name }}. <br> {{ match.side1 }} - {{ match.side2 }}</b>
                        <p> {{ match.stadium.name }}</p>
                        <p>{{ match.date|date:"d.m.Y" }} {{ match.time|time:"G:i" }}</p>
                        <a href="{% url 'focusMatch'  %}?focus_match_id={{ match.id }}">
                            <button>Купить билеты</button>
                        </a>
                    </div>
                </li>
            {% endfor %}
        </ul>
    </div>

</body>
</html>
