{% load static %}


<!DOCTYPE HTML>
<html lang="ru">
<head>
    <meta charset="utf-8">
    <title>Матчи</title>
    <link rel="stylesheet" href="{% static '/css/global.css' %}">
    <link rel="stylesheet" href="{% static 'App1/css/matchesPage.css' %}">
</head>
<body>
    {% include 'includes/header.html' %}

    <div class="center latex floorSpace">
        <h2> Матчи </h2>

        <form class="search-form" method="post">
            {% csrf_token %}
            <div class="div--V">
                <div class="helper"></div>

                <input type="text" placeholder="Поиск по мероприятиям" name="matches_search">

            </div>
        </form>

        <ul class="matches-scroll-ul">
            {% for match in searched_matches %}
                <li>
                    {% include 'Includes/ticket.html' with match=match%}
                </li>
            {% endfor %}
        </ul>
    </div>

</body>
</html>
