{% load static %}

<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Шапка</title>
    <link rel="stylesheet" href="{% static 'css/global.css' %}">
        <link rel="stylesheet" href="{% static 'css/includes.css' %}">
</head>
<body style="margin: 0; padding: 0;">
    <div class="header">

        <a class="a-btn a__header" href="/App1/matchesPage">
            <button> Матчи </button>
        </a>

        <a class="a-btn a__header" href="/App1/basket">
            <button> Корзина </button>
        </a>

        <a class="a-btn a__header" href="/ProfilesApp/logIn">
            <button> Войти </button>
        </a>

        <a class="a-btn a__header" href="/ProfilesApp/signIn">
            <button> Зарегистрироваться </button>
        </a>

    </div>
</body>
</html>