.place-button {
    width:100%;
    background: #96D4D4;
    border: 0;
}

.ticket-scroll-ul {
    width: 200px;
    height: 400px;
    overflow-x: hidden;
    overflow-y: scroll;
    border: 1px solid black;
    padding: 0;
    list-style: none;
}