.floorSpace {
    padding-bottom: 300px;
}

.search-form {
    width: 500px;
}

.matches-scroll-ul {
    height: 400px;
    overflow-x: hidden;
    overflow-y: scroll;
    border: 0px solid black;
    padding: 0;
    list-style: none;
}