.child--G {
    display: inline-block;
    vertical-align: middle;
}
.helper--G {
    display: inline-block;
    vertical-align: middle;
    height: 100%;
    width: 0px;
}

.child--H {
    display: inline-block;
}

.helper--H {
    display: inline-block;
    width: 100%;
    height: 0px;
}

.match-ticket {
    height:150px;
    width:500px;
    border: 1px solid black;
    border-radius: 5px;
    background: green;
}

.match-ticket--main {
    background: gray;
    border-radius: 5px;
    max-width: 500px;
    min-width: 400px;
}

.button {
    width: 200px;
    height: 200px;
    border: 1px solid black;
}

.button-image {
    width: 100%;
    height: 100%;
}